autom4te.cache/
build-aux/

configure
Makefile
Makefile.in

aclocal.m4
config.status
libtool

.deps
.dirstamp
.libs

*.so
*.so.*
*.a
*.la
*.lai
*.o
*.lo
*.lib
*.dll
*.exe
*.app
*.dylib

*.log

*~
*.old
*.bak

